@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

body{
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	color: #000;
}
header{
	background-color:#343434; 
}
#sec-slides{
	/*background-image: url(../img/slider-1.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;*/
	color: #fff;
	/*padding: 100px 0px;*/
}
#sec-slides h4{
	font-size: 34px;
	text-transform: uppercase;
}
#sec-slides h2{
	font-size: 64px;
	text-transform: uppercase;
}
#sec-slides p{
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 60px;
}
#sec-slides a{
	text-transform: uppercase;
}
#sec-slides .btn-warning{
	background-color: #e7931a;
	border: 0;
}
#sec-slides .btn-warning:hover{
	background-color: #343434;
}
#sec-slides .btn-default{
	background-color: transparent;
	border-width: 2px;
	color: #fff;
}
#sec-slides .btn-default:hover{
	background-color: #e7931a;
	border-color: #e7931a;
}
.title{
	font-size: 45px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 30px;
}

#sec-services h4{
	text-transform: uppercase;
	color: #000;
	font-size: 24px;
	font-weight: 700;
}


#sec-counters h3{
	color: #e7931a;
	font-size: 80px;
	font-weight: 600;
	text-align: center;
}

#sec-counters p{
	text-align: center;
	font-size: 20px;
}

#sec-counters{
	background-color: #f3f0eb;
}

.section{
	padding: 40px 0px;
}

@media (max-width:480px){
	
	#sec-slides h2{
		font-size: 20px;
	}
	#sec-slides h4{
		font-size: 16px;
	}
	
}

@media (min-width:480px) and (max-width:768px){
	
	#sec-slides h2{
		font-size: 30px;
	}
	#sec-slides h4{
		font-size: 18px;
	}
	
}







