@charset "UTF-8";
/* CSS Document */
body{
	font-family: Segoe, "Segoe UI";
	font-size: #000;
}
header{
	background: #000000;
}
#sec-slides{
	background-image: url(../img/slider-1.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: #FFFFFF;
	padding: 100px 0px;
}
#sec-slides h4{
	font-size: 24px;
	text-transform: uppercase;
	
}
#sec-slides h2{
	font-size: 64px;
	text-transform: uppercase;
	
}
#sec-slides p{
	font-size: 18px;
	margin: 40px;
	margin-bottom: 60px;
	
}
#sec-slides a{
	text-transform: uppercase;
}
#sec-slides .btn-warning{
	background-color: #e7931a;
	border: none;
	
}
#sec-slides .btn-warning:hover{
	background-color: #343434;
	
}
#sec-slides .btn-default{
	background-color: transparent;
	border-width: 2px;
	color: #FFFFFF;
}
#sec-slides .btn-default:hover{
	background-color: #e7931a;
	border-color: #e7931a;
}
.title{
	font-size: 45px;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}
#sec-services h4{
	text-transform: uppercase;
	color: #000;
	font-size: 20px;
	font-weight: 700;
}